 <!DOCTYPE html>
<html>
<head>
	<style> 

</style>

<title >Welcome to My Blog</title>
</head>
<body>

	
	
	<%= image_tag("kitten.jpeg")%>
	<h1 class= style="text-align:center; color:red; font-style:italic">New article</h1>

	<%= render 'form' %>
 
	<%= link_to 'Back', articles_path %>
	
</body>
</html> 




 

