
 <!DOCTYPE html>
<html>
<head>
<title >Welcome to My Blog</title>
</head>
<body>
	
	<%= image_tag("kitten.jpeg")%>
		
	<a style="text-align:center"> 
	<h1 style="text-align:center; color:red; font-style: italic">Welcome to My Blog</h1>
	
	
	<%=  link_to 'Go to Blog', controller: 'articles' %>
</a>

</body>
</html> 


